Repository docdyhr/mcp-wordpress: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, test-changed

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-json
      - id: mixed-line-ending
      - id: check-case-conflict

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css]
        files: \.(js|jsx|ts|tsx|json|yaml|yml|md|css)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.16.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@^8.45.0
          - eslint-config-prettier@^9.0.0
          - "@typescript-eslint/eslint-plugin@^6.0.0"
          - "@typescript-eslint/parser@^6.0.0"

  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Typecheck
        entry: npm run typecheck
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

      - id: test-changed
        name: Test Changed Files
        entry: npm test -- --changed
        language: system
        pass_filenames: false
        files: \.(js|ts|tsx)$
        stages: [commit]

fix(security): SSRF denylist, HTTPS enforcement, logger redaction, dep floors (#205)
  CHANGELOG.md
  docs/SECURITY.md
  package-lock.json
  package.json
  src/client/AGENTS.md
  src/client/api.ts
  src/config/AGENTS.md
  src/config/ConfigurationSchema.ts
  src/utils/logger.ts
  src/utils/validation/network.ts
  tests/client/WordPressClient.test.js
  tests/config/configuration-validation.test.js
  tests/utils/logger.test.js
  tests/utils/validation.test.js
Due: typecheck, test-changed

chore(release): 3.3.19 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  8a8746714de36fbcb8a31a6d6a8ecd55b061569d
Due: none

fix: return raw Gutenberg block markup when full content is requested
  src/client/CachedWordPressClient.ts
  src/tools/pages.ts
  src/tools/posts/PostHandlers.ts
  src/tools/posts/PostToolDefinitions.ts
  src/types/wordpress.ts
  src/utils/error.ts
  tests/client/CachedWordPressClient.test.js
  tests/tools/pages.test.js
  tests/tools/pages/PageTools.test.js
  tests/tools/posts.test.js
  tests/tools/posts/PostTools.test.js
Due: typecheck, test-changed

test: lock in empty-raw behavior for posts and pages
  tests/tools/pages/PageTools.test.js
  tests/tools/posts/PostTools.test.js
Due: test-changed

fix(ci): bound docker-publish job timeout, fix dead retry-on-hang path
  .github/workflows/release.yml
Due: none

fix(ci): narrow retry condition to failure/cancelled, bound retry timeout
  .github/workflows/release.yml
Due: none

fix(ci): bound docker-publish job timeout, fix dead retry-on-hang path (#207)
  .github/workflows/release.yml
Due: none

chore(release): 3.3.20 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  f3243bea6fd5f903051d9ae90f92d5ec4d82fceb
Due: none

fix(ci): make Docker retry step continue-on-error so real verification decides success
  .github/workflows/release.yml
Due: none

docs(ci): fix self-contradictory outcome-value claims in retry step comments
  .github/workflows/release.yml
Due: none

fix(ci): make Docker retry step continue-on-error so real verification decides success (#208)
  .github/workflows/release.yml
Due: none

chore(release): 3.3.21 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  05cd818beda91f2e99be5fbf166bf32633db17f8
Due: none

fix: return raw Gutenberg block markup when full content is requested (#206)
  src/client/CachedWordPressClient.ts
  src/tools/pages.ts
  src/tools/posts/PostHandlers.ts
  src/tools/posts/PostToolDefinitions.ts
  src/types/wordpress.ts
  src/utils/error.ts
  tests/client/CachedWordPressClient.test.js
  tests/tools/pages.test.js
  tests/tools/pages/PageTools.test.js
  tests/tools/posts.test.js
  tests/tools/posts/PostTools.test.js
Due: typecheck, test-changed

chore(release): 3.3.22 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  eb005d25cd9dbd3b669dbcd785bae4cb5accbc5c
Due: none

style: reformat markdown docs and one source file to match Prettier
  DXT-MULTISITE-GUIDE.md
  docs/developer/GITHUB_ACTIONS_SETUP.md
  docs/developer/MAINTENANCE.md
  docs/developer/NPM_AUTH_SETUP.md
  docs/developer/RELEASE_PROCESS.md
  docs/examples/multi-site-setup.md
  docs/integrations/claude-desktop.md
  docs/integrations/cline.md
  docs/user-guides/DTX_SETUP.md
  docs/user-guides/SMITHERY_SETUP.md
  src/security/SecurityReportGenerator.ts
Due: typecheck, test-changed

docs: fix stale tool-count metadata, README version/site-limit claims, CONTRIBUTING TOC link
  CONTRIBUTING.md
  Dockerfile
  README.md
  docs/api/README.md
Due: none

fix(client): preserve statusCode/code through the retry-exhaustion path and tool-layer rewraps
  src/client/api.ts
  src/tools/auth.ts
  src/tools/media.ts
  src/tools/site.ts
  src/tools/taxonomies.ts
  src/tools/users.ts
  src/utils/error.ts
  tests/client/WordPressClient.test.js
  tests/tools/auth.test.js
  tests/tools/media.test.js
  tests/tools/site.test.js
  tests/tools/taxonomies.test.js
  tests/tools/users.test.js
Due: typecheck, test-changed

fix(cache): resolve trigger()/processQueue() only after invalidation completes
  src/cache/AGENTS.md
  src/cache/CacheInvalidation.ts
  tests/cache/CacheInvalidation.test.js
  tests/client/CachedWordPressClient.test.js
Due: typecheck, test-changed

fix(security): wire input validation into ToolRegistry, fix regex bugs, close sanitization gaps
  src/security/AGENTS.md
  src/security/InputValidator.ts
  src/server/ToolRegistry.ts
  src/tools/comments.ts
  src/tools/pages.ts
  src/tools/posts/PostHandlers.ts
  tests/security/InputValidator.test.js
  tests/server/ToolRegistry.test.js
  tests/tools/comments.test.js
  tests/tools/pages.test.js
  tests/tools/posts/PostTools.test.js
Due: typecheck, test-changed

fix(ci): replace non-enforcing security gates with a real blocking audit
  .audit-ci.json
  .auditignore
  .github/workflows/dependency-review.yml
  .github/workflows/main-ci.yml
  .husky/pre-push
  AGENTS.md
  SECURITY.md
  package.json
  scripts/AGENTS.md
  scripts/security-audit-gate.js
  security-exceptions.json
Due: test-changed

fix(ci): gate release.yml on quality checks, consolidate Docker publish to one path, add real Trivy scan
  .github/workflows/docker-modern.yml
  .github/workflows/release.yml
Due: none

docs: rewrite PRODUCTION.md around the real stdio deployment model; fix bin/setup.js credential handling
  .env.example
  PRODUCTION.md
  bin/setup.js
  tests/bin/setup.test.js
Due: test-changed

refactor: delete confirmed-dead client/managers and client/auth.ts architecture
  src/cache/__tests__/CacheInvalidation.test.ts
  src/cache/__tests__/CacheManager.test.ts
  src/cache/__tests__/CachedWordPressClient.test.ts
  src/cache/__tests__/HttpCacheWrapper.test.ts
  src/client/AGENTS.md
  src/client/auth.ts
  src/client/index.ts
  src/client/managers/AuthManager.ts
  src/client/managers/AuthenticationManager.ts
  src/client/managers/BaseManager.ts
  src/client/managers/ComposedAuthenticationManager.ts
  src/client/managers/ComposedManagerFactory.ts
  src/client/managers/ComposedRequestManager.ts
  src/client/managers/JWTAuthImplementation.ts
  src/client/managers/ManagersIndex.ts
  src/client/managers/RequestManager.ts
  src/client/managers/composed/MigrationAdapter.ts
  src/client/managers/composed/index.ts
  src/client/managers/implementations/ConfigurationProviderImpl.ts
  src/client/managers/implementations/ErrorHandlerImpl.ts
  src/client/managers/implementations/ParameterValidatorImpl.ts
  src/client/managers/index.ts
  src/client/managers/interfaces/ManagerInterfaces.ts
  tests/AGENTS.md
  tests/client/AuthManager.test.js
  tests/client/AuthenticationManager.test.js
  tests/client/BaseManager.test.js
  tests/client/ComposedManagers.test.js
  tests/client/JWTAuthImplementation.test.js
  tests/client/RequestManager.test.js
  tests/client/auth.test.js
  tests/managers/authentication.test.js
  tests/typescript-build.test.js
Due: typecheck, test-changed

docs: update CHANGELOG for this remediation
  CHANGELOG.md
Due: none

fix: address PR #209 review findings (Copilot + Codex)
  AGENTS.md
  CHANGELOG.md
  DXT-MULTISITE-GUIDE.md
  docs/examples/multi-site-setup.md
  package.json
  scripts/health-check.js
  scripts/security-audit-gate.js
  src/cache/CacheInvalidation.ts
  src/security/InputValidator.ts
  src/tools/pages.ts
  src/utils/validation/wordpress.ts
  tests/cache/CacheInvalidation.test.js
  tests/scripts/security-audit-gate.test.js
  tests/security/InputValidator.test.js
  tests/tools/pages.test.js
  tests/tools/posts.test.js
  tests/tools/posts/PostTools.test.js
Due: typecheck, test-changed

chore(release): 3.3.23 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  279d7965f04888f48e217bf1f65b10c94790802c
Due: none

fix(docker): strip bundled npm CLI from production image to clear Trivy HIGH/CRITICAL gate
  CHANGELOG.md
  Dockerfile
Due: none

fix: address PR #210 review findings (Copilot + Codex)
  AGENTS.md
  CHANGELOG.md
  Dockerfile
Due: none

Add MCP Toplist rank badge
  README.md
Due: none

fix(docker): strip bundled npm CLI from production image to clear Trivy gate (#210)
  AGENTS.md
  CHANGELOG.md
  Dockerfile
Due: none

chore(release): 3.3.24 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  512b2c66355eae64ded9499ccb02062d51a950df
Due: none

docs: add MCP Toplist rank badge to README
  README.md
Due: none

docs: add MCP Toplist rank badge to README (#212)
  README.md
Due: none
