Repository docdyhr/mcp-wordpress: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, test-changed

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-json
      - id: mixed-line-ending
      - id: check-case-conflict

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css]
        files: \.(js|jsx|ts|tsx|json|yaml|yml|md|css)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.16.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@^8.45.0
          - eslint-config-prettier@^9.0.0
          - "@typescript-eslint/eslint-plugin@^6.0.0"
          - "@typescript-eslint/parser@^6.0.0"

  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Typecheck
        entry: npm run typecheck
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

      - id: test-changed
        name: Test Changed Files
        entry: npm test -- --changed
        language: system
        pass_filenames: false
        files: \.(js|ts|tsx)$
        stages: [commit]

fix(posts): keep typed WordPress errors from the post handlers
  src/tools/posts/PostHandlers.ts
  tests/tools/posts/PostErrorPropagation.test.js
Due: typecheck, test-changed

feat: show config source and recent tool calls through tool output
  docs/api/README.md
  docs/api/openapi.json
  docs/api/summary.json
  docs/api/tools/wp_performance_stats.md
  docs/api/tools/wp_test_auth.md
  src/config/AGENTS.md
  src/config/ServerConfiguration.ts
  src/performance/AGENTS.md
  src/performance/MetricsCollector.ts
  src/performance/PerformanceMonitor.ts
  src/server/ToolRegistry.ts
  src/tools/auth.ts
  src/tools/performance/PerformanceTools.ts
  tests/config/ServerConfiguration.test.js
  tests/performance/MetricsCollector.test.js
  tests/performance/PerformanceMonitor.test.js
  tests/server/ToolRegistry.test.js
  tests/tools/auth.test.js
Due: typecheck, test-changed

fix(performance): make health and alert status agree
  docs/api/README.md
  docs/api/openapi.json
  docs/api/summary.json
  docs/api/tools/wp_performance_alerts.md
  src/performance/AGENTS.md
  src/performance/MetricsCollector.ts
  src/performance/PerformanceMonitor.ts
  src/tools/performance/PerformanceHelpers.ts
  src/tools/performance/PerformanceTools.ts
  tests/performance/AlertConsistency.test.js
Due: typecheck, test-changed

fix(posts): keep typed WordPress errors from the post handlers (#265)
  src/tools/posts/PostHandlers.ts
  tests/tools/posts/PostErrorPropagation.test.js
Due: typecheck, test-changed

chore(release): 4.0.10 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  073cb5b21968eb8502e9437bdc34064ae97ada22
Due: none

fix(performance): address review feedback on active alerts
  src/performance/MetricsCollector.ts
  src/tools/performance/PerformanceTools.ts
  tests/performance/AlertConsistency.test.js
Due: typecheck, test-changed

fix(performance): make health and alert status agree (#267)
  docs/api/README.md
  docs/api/openapi.json
  docs/api/summary.json
  docs/api/tools/wp_performance_alerts.md
  src/performance/AGENTS.md
  src/performance/MetricsCollector.ts
  src/performance/PerformanceMonitor.ts
  src/tools/performance/PerformanceHelpers.ts
  src/tools/performance/PerformanceTools.ts
  tests/performance/AlertConsistency.test.js
Due: typecheck, test-changed

chore(release): 4.0.11 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  45dac907fdf506936b5ab0070e70f96725064168
Due: none

fix: address review feedback on the tool-output diagnostics
  src/config/ServerConfiguration.ts
  src/performance/AGENTS.md
  src/performance/PerformanceMonitor.ts
  src/server/ToolRegistry.ts
  src/tools/auth.ts
  tests/config/ServerConfiguration.test.js
  tests/performance/PerformanceMonitor.test.js
  tests/server/ToolRegistry.test.js
  tests/tools/auth.test.js
Due: typecheck, test-changed

feat: show config source and recent tool calls through tool output (#266)
  docs/api/README.md
  docs/api/openapi.json
  docs/api/tools/wp_performance_stats.md
  docs/api/tools/wp_test_auth.md
  src/config/AGENTS.md
  src/config/ServerConfiguration.ts
  src/performance/AGENTS.md
  src/performance/MetricsCollector.ts
  src/performance/PerformanceMonitor.ts
  src/server/ToolRegistry.ts
  src/tools/auth.ts
  src/tools/performance/PerformanceTools.ts
  tests/config/ServerConfiguration.test.js
  tests/performance/MetricsCollector.test.js
  tests/performance/PerformanceMonitor.test.js
  tests/server/ToolRegistry.test.js
  tests/tools/auth.test.js
Due: typecheck, test-changed

chore(release): 4.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  06c96f0f7689cebfd3f620f6c422a10209605bde
Due: none

fix(seo): default analysisType to full in wp_seo_analyze_content
  src/tools/AGENTS.md
  src/tools/seo/SEOTools.ts
  tests/tools/seo/SEOToolsAnalyzeContent.test.js
Due: typecheck, test-changed

fix(tools): decode entities in post, page and media titles
  src/tools/AGENTS.md
  src/tools/media.ts
  src/tools/pages.ts
  src/tools/posts/PostHandlers.ts
  src/utils/htmlText.ts
  tests/tools/posts/PostOutputFormatting.test.js
  tests/tools/titleEntityDecoding.test.js
Due: typecheck, test-changed

fix(performance): round alert values and label cache hit-rate scope
  src/performance/AGENTS.md
  src/performance/PerformanceMonitor.ts
  src/tools/cache.ts
  src/tools/performance/PerformanceHelpers.ts
  src/tools/performance/PerformanceTools.ts
  tests/performance/OutputScope.test.js
  tests/tools/cache.test.js
Due: typecheck, test-changed

test(dxt): pin the server/discover probe answer before initialize
  tests/bin/dxt-discover-probe.test.js
Due: test-changed

docs(seo): state the defaults maxSuggestions and maxPages actually use
  docs/api/openapi.json
  docs/api/summary.json
  docs/api/tools/wp_seo_site_audit.md
  docs/api/tools/wp_seo_suggest_internal_links.md
  src/tools/AGENTS.md
  src/tools/seo/SEOToolDefinitions.ts
Due: typecheck, test-changed

test(tools): move title tests into the suites that mirror their sources
  src/tools/AGENTS.md
  tests/tools/media/MediaTools.test.js
  tests/tools/pages/PageTools.test.js
  tests/tools/titleEntityDecoding.test.js
  tests/utils/htmlText.test.js
Due: test-changed

fix(performance): label every hit rate and stop summing cumulative totals
  docs/PERFORMANCE_MONITORING.md
  src/performance/AGENTS.md
  src/tools/performance/PerformanceTools.ts
  tests/performance/OutputScope.test.js
Due: typecheck, test-changed

fix(performance): keep history snapshots by when they were taken
  src/performance/AGENTS.md
  src/performance/PerformanceAnalytics.ts
  src/performance/PerformanceMonitor.ts
  src/tools/performance/PerformanceHelpers.ts
  tests/performance/HistoryWindow.test.js
  tests/performance/PerformanceAnalytics.test.js
Due: typecheck, test-changed

docs(performance): move the history rule next to the layer list
  src/performance/AGENTS.md
Due: none

fix(performance): make the analysis that history now feeds safe to run
  src/performance/AGENTS.md
  src/performance/PerformanceAnalytics.ts
  src/performance/PerformanceMonitor.ts
  src/tools/performance/PerformanceHelpers.ts
  src/tools/performance/PerformanceTools.ts
  tests/performance/HistoryWindow.test.js
  tests/performance/PerformanceAnalytics.test.js
  tests/tools/performance/PerformanceHelpers.test.js
Due: typecheck, test-changed

fix(performance): never round a breach to its threshold; label every window
  docs/PERFORMANCE_MONITORING.md
  src/performance/AGENTS.md
  src/tools/cache.ts
  src/tools/performance/PerformanceHelpers.ts
  src/tools/performance/PerformanceTools.ts
  tests/performance/OutputScope.test.js
  tests/tools/cache.test.js
Due: typecheck, test-changed

fix(tools): label untitled streamed posts the same way; review nits
  src/tools/AGENTS.md
  src/tools/posts/PostHandlers.ts
  src/utils/htmlText.ts
  src/utils/streaming.ts
  tests/tools/media/MediaTools.test.js
  tests/tools/pages/PageTools.test.js
  tests/tools/posts/PostOutputFormatting.test.js
Due: typecheck, test-changed

fix(seo): key cached content analyses by their focus keywords
  docs/api/openapi.json
  docs/api/summary.json
  docs/api/tools/wp_seo_site_audit.md
  src/tools/AGENTS.md
  src/tools/seo/SEOToolDefinitions.ts
  src/tools/seo/SEOTools.ts
  tests/tools/seo/SEOToolsAnalyzeContent.test.js
Due: typecheck, test-changed

test(dxt): accept any answer to the probe; run the server as installed
  tests/bin/dxt-discover-probe.test.js
Due: test-changed

test(dxt): pin the server/discover probe answer before initialize (#271)
  tests/bin/dxt-discover-probe.test.js
Due: test-changed

fix(performance): only flag anomalies in the worse direction
  docs/PERFORMANCE_MONITORING.md
  src/performance/AGENTS.md
  src/performance/PerformanceAnalytics.ts
  tests/performance/HistoryWindow.test.js
Due: typecheck, test-changed

fix(performance): never round a breach onto its threshold in any digit range
  docs/PERFORMANCE_MONITORING.md
  src/performance/AGENTS.md
  src/performance/PerformanceMonitor.ts
  src/tools/AGENTS.md
  src/tools/performance/PerformanceHelpers.ts
  src/tools/performance/PerformanceTools.ts
  tests/performance/OutputScope.test.js
Due: typecheck, test-changed

fix(seo): keep a comma keyword apart from two keywords in the cache key
  src/tools/AGENTS.md
  src/tools/seo/SEOTools.ts
  tests/tools/seo/SEOToolsAnalyzeContent.test.js
Due: typecheck, test-changed

fix(seo): default analysisType to full in wp_seo_analyze_content (#268)
  docs/api/openapi.json
  docs/api/summary.json
  docs/api/tools/wp_seo_site_audit.md
  docs/api/tools/wp_seo_suggest_internal_links.md
  src/tools/AGENTS.md
  src/tools/seo/SEOToolDefinitions.ts
  src/tools/seo/SEOTools.ts
  tests/tools/seo/SEOToolsAnalyzeContent.test.js
Due: typecheck, test-changed

chore(release): 4.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  abda207ca2e6a818551bac60fa457302d229330b
Due: none
