Repository docdyhr/mcp-wordpress: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, test-changed

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-json
      - id: mixed-line-ending
      - id: check-case-conflict

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css]
        files: \.(js|jsx|ts|tsx|json|yaml|yml|md|css)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.16.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@^8.45.0
          - eslint-config-prettier@^9.0.0
          - "@typescript-eslint/eslint-plugin@^6.0.0"
          - "@typescript-eslint/parser@^6.0.0"

  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Typecheck
        entry: npm run typecheck
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

      - id: test-changed
        name: Test Changed Files
        entry: npm test -- --changed
        language: system
        pass_filenames: false
        files: \.(js|ts|tsx)$
        stages: [commit]

chore(release): 3.1.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  c3229317c91b7a77af7e8994b99b0a1e36acbec9
Due: none

fix(security): resolve all npm audit vulnerabilities and update dependencies
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
  docker-compose.yml
  package-lock.json
  package.json
Due: none

fix(ci): resolve matrix interpolation bug, Vitest 4 deprecation, and docker-compose compatibility
  .github/labeler.yml
  .github/workflows/main-ci.yml
  docker-compose.yml
  vitest.config.ts
  vitest.test.config.ts
Due: typecheck, test-changed

fix(test): remove orphaned WordPressClientRefactored test
  tests/client/WordPressClientRefactored.test.js
Due: test-changed

fix: resolve CI/CD pipeline failures and security vulnerabilities (#164)
  .github/labeler.yml
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
  docker-compose.yml
  package-lock.json
  package.json
  tests/client/WordPressClientRefactored.test.js
  vitest.config.ts
  vitest.test.config.ts
Due: typecheck, test-changed

chore(release): 3.1.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  0cb90569bc91d5616de7f84e8e96e24d15e3e4f7
Due: none

fix: resolve CI workflow shell injection and duplicate NPM publish
  .github/workflows/docker-modern.yml
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
Due: none

fix: resolve CI workflow shell injection and duplicate NPM publish (#165)
  .github/workflows/docker-modern.yml
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
Due: none

chore(release): 3.1.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  7e04bdde8e88cca679000fb1b930d49db758b719
Due: none

fix: remove release event trigger to prevent duplicate publish runs
  .github/workflows/release.yml
Due: none

fix: remove release event trigger to prevent duplicate publish runs (#166)
  .github/workflows/release.yml
Due: none

chore(release): 3.1.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  97d1860f55f90e09fc974912d99a9d89d8a09de0
Due: none

fix: correct semantic-release output variable names to restore DXT and Docker publishing
  .github/workflows/release.yml
Due: none

fix: add workflow_dispatch trigger to release workflow for manual runs
  .github/workflows/release.yml
Due: none

chore(release): 3.1.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  a9f97a30e9494d0fd1c2a480690fa628790f0ed9
Due: none

fix: use ESM-compatible path resolution in wp_check_version tool
  src/tools/version.ts
Due: typecheck, test-changed

chore(release): 3.1.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  3a6bf43a09701b02656fb4ade508198ac2aa55ef
Due: none

chore: update 24 dependencies including ESLint 10, MCP SDK 1.27, and remove dead eslint-plugin-node
  eslint.config.js
  package-lock.json
  package.json
  src/performance/PerformanceAnalytics.ts
  src/security/SecurityGateExecutor.ts
Due: typecheck, test-changed

chore: update CI/CD pipeline actions, fix security audit config, and update dependencies
  .audit-ci.json
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker-modern.yml
  .github/workflows/labeler.yml
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
  .github/workflows/reusable-setup.yml
  .github/workflows/wordpress-compatibility.yml
  package-lock.json
Due: none

fix: comprehensive project audit improvements
  .audit-ci.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/dependency-review-config.yml
  .github/workflows/main-ci.yml
  CLAUDE.md
  Dockerfile
  package-lock.json
  package.json
  src/client/api.ts
  src/config/ServerConfiguration.ts
  src/index.ts
Due: typecheck, test-changed

fix: comprehensive project audit improvements (#167)
  .audit-ci.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/dependency-review-config.yml
  .github/workflows/main-ci.yml
  CLAUDE.md
  Dockerfile
  package-lock.json
  package.json
  src/client/api.ts
  src/config/ServerConfiguration.ts
  src/index.ts
Due: typecheck, test-changed

chore(release): 3.1.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  3aa8ee2bd6a935960ed27b507f04d94e431241ab
Due: none

refactor: replace as-unknown-as casts with toolParams helper in tool handlers
  src/tools/comments.ts
  src/tools/media.ts
  src/tools/pages.ts
  src/tools/params.ts
  src/tools/taxonomies.ts
  src/tools/users.ts
Due: typecheck, test-changed

refactor: unify dual logging systems (debug.ts → logger.ts)
  src/client/api.ts
  src/client/auth.ts
  src/client/managers/AuthenticationManager.ts
  src/client/managers/BaseManager.ts
  src/client/managers/ComposedAuthenticationManager.ts
  src/client/managers/ComposedRequestManager.ts
  src/client/managers/RequestManager.ts
  src/client/managers/implementations/ErrorHandlerImpl.ts
  src/client/operations/media.ts
  src/utils/logger.ts
  tests/client/SEOWordPressClient.test.js
  tests/client/WordPressClient.test.js
Due: typecheck, test-changed

refactor: replace as-unknown-as casts with toolParams helper in tool handlers (#168)
  src/tools/comments.ts
  src/tools/media.ts
  src/tools/pages.ts
  src/tools/params.ts
  src/tools/taxonomies.ts
  src/tools/users.ts
Due: typecheck, test-changed

chore(release): 3.1.10 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  98a284799279f71ba9bc617690585840b349f4d5
Due: none

refactor: unify dual logging systems (debug.ts → logger.ts) (#169)
  src/client/api.ts
  src/client/auth.ts
  src/client/managers/AuthenticationManager.ts
  src/client/managers/BaseManager.ts
  src/client/managers/ComposedAuthenticationManager.ts
  src/client/managers/ComposedRequestManager.ts
  src/client/managers/RequestManager.ts
  src/client/managers/implementations/ErrorHandlerImpl.ts
  src/client/operations/media.ts
  src/utils/logger.ts
  tests/client/SEOWordPressClient.test.js
  tests/client/WordPressClient.test.js
Due: typecheck, test-changed

chore(release): 3.1.11 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  0931205da02f7f1638efd15d02d4cc8b2fe9d2e1
Due: none

refactor: migrate legacy tools to inputSchema JSON Schema format
  src/tools/auth.ts
  src/tools/comments.ts
  src/tools/media.ts
  src/tools/pages.ts
  src/tools/site.ts
  src/tools/taxonomies.ts
  src/tools/users.ts
  tests/tool-validation.test.js
  tests/tools/auth.test.js
  tests/tools/comments.test.js
  tests/tools/comments/CommentTools.test.js
  tests/tools/media.test.js
  tests/tools/media/MediaTools.test.js
  tests/tools/pages.test.js
  tests/tools/pages/PageTools.test.js
  tests/tools/site.test.js
  tests/tools/taxonomies.test.js
  tests/tools/taxonomies/TaxonomyTools.test.js
  tests/tools/users.test.js
  tests/tools/users/UserTools.test.js
Due: typecheck, test-changed

refactor: migrate legacy tools to inputSchema JSON Schema format (#170)
  src/tools/auth.ts
  src/tools/comments.ts
  src/tools/media.ts
  src/tools/pages.ts
  src/tools/site.ts
  src/tools/taxonomies.ts
  src/tools/users.ts
  tests/tool-validation.test.js
  tests/tools/auth.test.js
  tests/tools/comments.test.js
  tests/tools/comments/CommentTools.test.js
  tests/tools/media.test.js
  tests/tools/media/MediaTools.test.js
  tests/tools/pages.test.js
  tests/tools/pages/PageTools.test.js
  tests/tools/site.test.js
  tests/tools/taxonomies.test.js
  tests/tools/taxonomies/TaxonomyTools.test.js
  tests/tools/users.test.js
  tests/tools/users/UserTools.test.js
Due: typecheck, test-changed

chore(release): 3.1.12 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
