Repository docdyhr/mcp-wordpress: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, test-changed

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-json
      - id: mixed-line-ending
      - id: check-case-conflict

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css]
        files: \.(js|jsx|ts|tsx|json|yaml|yml|md|css)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.16.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@^8.45.0
          - eslint-config-prettier@^9.0.0
          - "@typescript-eslint/eslint-plugin@^6.0.0"
          - "@typescript-eslint/parser@^6.0.0"

  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Typecheck
        entry: npm run typecheck
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

      - id: test-changed
        name: Test Changed Files
        entry: npm test -- --changed
        language: system
        pass_filenames: false
        files: \.(js|ts|tsx)$
        stages: [commit]

fix: stop using title as the multipart filename in uploadMedia()
  src/client/operations/media.ts
Due: typecheck, test-changed

fix(security): patch form-data CRLF injection (CVE-2026-12143)
  package-lock.json
Due: none

fix: address review feedback on media upload fix
  eslint.config.js
  package-lock.json
  package.json
  src/client/api.ts
  src/client/operations/media.ts
  tests/auth-headers-fix.test.js
  tests/client/api-upload-timeout.test.js
  tests/client/operations/operations.test.js
Due: typecheck, test-changed

fix(security): patch form-data CRLF injection (CVE-2026-12143)
  package-lock.json
  package.json
Due: none

fix(auth): bound wp_test_auth with 10s timeout and check ping() return value
  src/tools/auth.ts
  tests/tools/auth.test.js
Due: typecheck, test-changed

fix(auth): stop the abandoned ping()/getCurrentUser() chain after timeout
  src/tools/auth.ts
  tests/tools/auth.test.js
Due: typecheck, test-changed

fix: resolve media upload 400 error caused by duplicate Content-Type header (#199)
  eslint.config.js
  package-lock.json
  package.json
  src/client/api.ts
  src/client/operations/media.ts
  tests/auth-headers-fix.test.js
  tests/client/api-upload-timeout.test.js
  tests/client/operations/operations.test.js
Due: typecheck, test-changed

chore(release): 3.3.16 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  16e8a28e7daa6db7d139440c5e85adbcad8afb3b
Due: none

fix(auth): bound wp_test_auth with 10s timeout and check ping() return value (#202)
  src/tools/auth.ts
  tests/tools/auth.test.js
Due: typecheck, test-changed

chore(release): 3.3.17 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  4180e236806fc910bfed1f77d196da2e2f7e594a
Due: none

fix(security): stop credential disclosure and constrain local uploads
  bin/setup.js
  bin/status.js
  src/tools/media.ts
  src/utils/validation/security.ts
  tests/bin/status.test.js
  tests/tools/media/MediaTools.test.js
  tests/utils/validation.test.js
Due: typecheck, test-changed

fix(config,client): fail closed on bad multi-site config, stop POST replay
  src/client/api.ts
  src/config/ServerConfiguration.ts
  src/types/client.ts
  tests/client/WordPressClient.test.js
  tests/config/ServerConfiguration.test.js
Due: typecheck, test-changed

fix(ci): make unhandled test errors and workflow lint failures block CI
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker-modern.yml
  .github/workflows/release.yml
  .github/workflows/wordpress-compatibility.yml
  src/security/InputValidator.ts
  tests/client/api-upload-timeout.test.js
  tests/vitest.setup.ts
Due: typecheck, test-changed

fix(cache): stop revalidating fresh hits, preserve real WordPress validators
  src/cache/CacheManager.ts
  src/cache/HttpCacheWrapper.ts
  src/client/CachedWordPressClient.ts
  src/client/api.ts
  src/types/client.ts
  tests/cache/HttpCacheWrapper.test.js
  tests/client/CachedWordPressClient.test.js
Due: typecheck, test-changed

fix(auth): reconcile supported authentication methods end-to-end
  bin/setup.js
  bin/status.js
  docs/CONFIGURATION.md
  src/client/api.ts
  src/config/ConfigurationSchema.ts
  src/config/ServerConfiguration.ts
  src/tools/auth.ts
  tests/bin/status.test.js
  tests/config/configuration-validation.test.js
  tests/tools/auth.test.js
Due: typecheck, test-changed

fix(docker): implement a real health check, fix startup timeout handling
  Dockerfile
  docker-compose.yml
  src/index.ts
  tests/server/mcp-server.test.js
Due: typecheck, test-changed

fix(schema): correct comment status values, fix site/constraint schema gaps
  src/client/operations/comments.ts
  src/server/ToolRegistry.ts
  src/tools/comments.ts
  src/types/wordpress.ts
  tests/client/operations/operations.test.js
  tests/server/ToolRegistry.test.js
  tests/tools/comments.test.js
  tests/tools/comments/CommentTools.test.js
Due: typecheck, test-changed

fix(docs): stop background timers from hanging docs:validate
  src/cache/CacheManager.ts
  src/performance/MetricsCollector.ts
  src/performance/PerformanceMonitor.ts
  src/security/SecurityMonitoring.ts
  src/tools/performance/PerformanceTools.ts
Due: typecheck, test-changed

fix(package): trim published npm package to runtime files, add pack smoke test
  .github/workflows/main-ci.yml
Due: none

fix(deps): patch moderate dev-dependency vulnerabilities without --force
  package-lock.json
  package.json
Due: none

docs: reconcile tool count, coverage, and Node-version claims
  .github/CONTRIBUTING.md
  CLAUDE.md
  PRODUCTION.md
  README.md
  docs/EVALUATION.md
  docs/INSTALLATION.md
  docs/TROUBLESHOOTING.md
  docs/developer/BUILD_SYSTEM.md
  docs/developer/CONTRIBUTING.md
  docs/developer/DEVELOPMENT_SETUP.md
  docs/developer/GITHUB_ACTIONS_SETUP.md
  docs/developer/README.md
  docs/user-guides/DTX_SETUP.md
  docs/user-guides/NPM_SETUP.md
  docs/user-guides/NPX_SETUP.md
  dxt/manifest.json
  evaluations/README.md
  src/server/ToolRegistry.ts
Due: typecheck, test-changed

fix(tests): eliminate nock delay-timer race in upload-timeout tests
  tests/client/api-upload-timeout.test.js
Due: test-changed

fix: address findings from independent review of phases 1-4
  bin/status.js
  src/tools/auth.ts
  src/types/tools.ts
  tests/tools/auth.test.js
Due: typecheck, test-changed

fix: server never started when launched via its own npx/bin command
  bin/mcp-wordpress.js
  src/index.ts
  tests/bin/mcp-wordpress-entry.test.js
Due: typecheck, test-changed

fix: health check must not count CI mock mode's demo client as configured
  src/index.ts
  tests/server/mcp-server.test.js
Due: typecheck, test-changed

fix: address PR #203 bot review findings on cache and auth switching
  src/cache/HttpCacheWrapper.ts
  src/tools/auth.ts
  tests/cache/HttpCacheWrapper.test.js
  tests/tools/auth.test.js
Due: typecheck, test-changed

chore(release): 3.3.18 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  5a16f31b18c52371e8372b034b0410a3f995d216
Due: none

docs: install DOX hierarchical AGENTS.md tree
  AGENTS.md
  CLAUDE.md
  scripts/AGENTS.md
  src/AGENTS.md
  src/cache/AGENTS.md
  src/client/AGENTS.md
  src/config/AGENTS.md
  src/performance/AGENTS.md
  src/security/AGENTS.md
  src/tools/AGENTS.md
  tests/AGENTS.md
Due: none

docs: address PR #204 review findings
  AGENTS.md
  src/client/AGENTS.md
Due: none

docs: install DOX hierarchical AGENTS.md tree (#204)
  AGENTS.md
  CLAUDE.md
  scripts/AGENTS.md
  src/AGENTS.md
  src/cache/AGENTS.md
  src/client/AGENTS.md
  src/config/AGENTS.md
  src/performance/AGENTS.md
  src/security/AGENTS.md
  src/tools/AGENTS.md
  tests/AGENTS.md
Due: none

chore(deps): raise axios/brace-expansion override floors, fix prod audit findings
  package-lock.json
  package.json
Due: none

fix(security): unify SSRF denylist and require HTTPS across client/schema
  src/client/AGENTS.md
  src/client/api.ts
  src/config/AGENTS.md
  src/config/ConfigurationSchema.ts
  src/utils/validation/network.ts
  tests/client/WordPressClient.test.js
  tests/config/configuration-validation.test.js
  tests/utils/validation.test.js
Due: typecheck, test-changed

fix(logging): deep-redact sensitive context objects
  src/utils/logger.ts
  tests/utils/logger.test.js
Due: typecheck, test-changed

docs(security): document SSRF denylist, HTTPS policy, and changelog
  CHANGELOG.md
  docs/SECURITY.md
Due: none

fix(security): address PR #205 review findings (IPv6 bypass, redaction, tests)
  src/utils/logger.ts
  src/utils/validation/network.ts
  tests/client/WordPressClient.test.js
  tests/config/configuration-validation.test.js
  tests/utils/logger.test.js
  tests/utils/validation.test.js
Due: typecheck, test-changed
