Repository docdyhr/mcp-wordpress: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, test-changed

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-json
      - id: mixed-line-ending
      - id: check-case-conflict

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css]
        files: \.(js|jsx|ts|tsx|json|yaml|yml|md|css)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.16.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@^8.45.0
          - eslint-config-prettier@^9.0.0
          - "@typescript-eslint/eslint-plugin@^6.0.0"
          - "@typescript-eslint/parser@^6.0.0"

  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Typecheck
        entry: npm run typecheck
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

      - id: test-changed
        name: Test Changed Files
        entry: npm test -- --changed
        language: system
        pass_filenames: false
        files: \.(js|ts|tsx)$
        stages: [commit]

chore(release): 2.11.13 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  ed162b3595a93197f387d4a2231a6da0a71de9fa
Due: none

feat: optimize cache and add Config tests
  .github/workflows/main-ci.yml
  src/cache/CacheManager.ts
  tests/config/Config.test.js
Due: typecheck, test-changed

chore(release): 2.12.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  ede520a142ced50277aa084392de8bba4219c514
Due: none

docs: add sprint implementation documentation
  EXCLUDED_TESTS.md
  IMPLEMENTATION_COMPLETE.md
  SPRINT_SUMMARY.md
Due: none

fix(tests): update cache key regex to match base36 hash format
  tests/cache/CacheManager.test.js
Due: test-changed

fix(security): update MCP SDK and body-parser to fix vulnerabilities
  package-lock.json
Due: none

docs: remove Smithery references (service no longer available)
  README.md
Due: none

fix: resolve CodeQL security warnings
  src/cache/SEOCacheManager.ts
  src/client/api.ts
  src/client/managers/RequestManager.ts
  src/security/AISecurityScanner.ts
  src/security/InputValidator.ts
  src/tools/seo/analyzers/ContentAnalyzer.ts
  src/tools/seo/auditors/SiteAuditor.ts
  src/tools/seo/generators/MetaGenerator.ts
Due: typecheck, test-changed

fix(security): run npm audit fix for js-yaml vulnerability
  package-lock.json
Due: none

refactor(security): extract SecurityCIPipeline into modular components
  src/security/SecurityCIPipeline.ts
  src/security/SecurityGateExecutor.ts
  src/security/SecurityReportGenerator.ts
  src/security/SecurityTypes.ts
  src/security/index.ts
Due: typecheck, test-changed

chore(ci): consolidate CI/CD workflows from 25 to 10
  .github/workflows/ci-health-check.yml
  .github/workflows/coverage-guard.yml
  .github/workflows/dependency-update.yml
  .github/workflows/manual-docker-republish.yml
  .github/workflows/mcp-evaluations.yml
  .github/workflows/npm-publish.yml
  .github/workflows/performance-gates.yml
  .github/workflows/pipeline-health-check.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/reusable-setup.yml
  .github/workflows/secret-scanning.yml
  .github/workflows/security-badges.yml
  .github/workflows/security-monitoring.yml
  .github/workflows/update-docker-description.yml
  .github/workflows/update-docs.yml
  .github/workflows/verify-and-fix-publishing.yml
  .github/workflows/verify-release.yml
Due: none

refactor: modularize api.ts and performance.ts for improved maintainability
  package-lock.json
  package.json
  src/client/api.ts
  src/client/operations/comments.ts
  src/client/operations/index.ts
  src/client/operations/media.ts
  src/client/operations/pages.ts
  src/client/operations/posts.ts
  src/client/operations/site.ts
  src/client/operations/taxonomies.ts
  src/client/operations/users.ts
  src/tools/performance.ts
  src/tools/performance/PerformanceHelpers.ts
  src/tools/performance/PerformanceTools.ts
  src/tools/performance/index.ts
Due: typecheck, test-changed

feat: add circuit breaker pattern and deprecation documentation
  docs/DEPRECATIONS.md
  src/utils/CircuitBreaker.ts
  src/utils/index.ts
  tests/utils/CircuitBreaker.test.js
Due: typecheck, test-changed

test: add comprehensive tests for operations and performance modules
  tests/client/operations/operations.test.js
  tests/tools/performance/PerformanceHelpers.test.js
Due: test-changed

docs: update README with v2.12.0 features and test counts
  README.md
Due: none

fix(tests): resolve flaky tests in env-loading, logger, and timing tests
  tests/client/RequestManager.test.js
  tests/env-loading.test.js
  tests/utils/debug.test.js
  tests/utils/logger.test.js
  tests/utils/streaming.test.js
  vitest.config.ts
Due: typecheck, test-changed

fix(tests): align getAuthStatus tests with actual AuthStatus type
  tests/managers/authentication.test.js
Due: test-changed

chore: project cleanup and security improvements
  docs/BRANCH_PROTECTION.md
  package-lock.json
  package.json
  tests/security/SecurityReviewer.test.js
  tests/server/ToolRegistry.test.js
  tests/utils/streaming.test.js
  vitest.config.ts
Due: typecheck, test-changed

chore: trigger release workflow to test updated NPM token
  README.md
Due: none

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  884476dbcbaf0ae9bcca587e6b3c485a41190d0a
Due: none

fix(dxt): update ajv schema paths from lib to dist directory
  scripts/build-dxt-clean.cjs
Due: none

chore(release): 3.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  85bce7a19f020442a6f18eb76a9aa825fc297cbc
Due: none

feat(dxt): add version checking tool and update documentation
  README.md
  docs/DXT_UPDATE_GUIDE.md
  dxt/manifest.json
  src/tools/index.ts
  src/tools/system.ts
  src/tools/version.ts
Due: typecheck, test-changed

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  6bcd3225cd558a1d71d543146b023cc47ab1a75a
Due: none

fix(dxt): update manifest to v3.0.1 and fix version.ts ESLint errors
  dxt/manifest.json
  src/tools/version.ts
Due: typecheck, test-changed

chore(dxt): sync manifest version to 3.1.0 [skip ci]
  dxt/manifest.json
Due: none

fix: resolve security vulnerabilities and re-enable CI tests
  package-lock.json
  scripts/cleanup-stale-security-configs.sh
  tests/tools/seo/BulkOperations.test.js
  vitest.config.ts
Due: typecheck, test-changed

chore(release): 3.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  80326cc73e6d59870031b2ad43397257882a3937
Due: none

fix(security): update tar override to 7.5.7 and pact-node to 10.18.0
  package-lock.json
  package.json
Due: none

chore(release): 3.1.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  5fb653285a58830d0979b9ee56b4f29623478cf5
Due: none

fix: resolve security vulnerabilities, update CI/CD actions, and fix flaky test
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  tests/utils/debug.test.js
Due: test-changed

fix: resolve security vulnerabilities, update CI/CD actions, and fix flaky test (#163)
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  tests/utils/debug.test.js
Due: test-changed
