Repository docdyhr/mcp-wordpress: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, test-changed

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-json
      - id: mixed-line-ending
      - id: check-case-conflict

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css]
        files: \.(js|jsx|ts|tsx|json|yaml|yml|md|css)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.16.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@^8.45.0
          - eslint-config-prettier@^9.0.0
          - "@typescript-eslint/eslint-plugin@^6.0.0"
          - "@typescript-eslint/parser@^6.0.0"

  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Typecheck
        entry: npm run typecheck
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

      - id: test-changed
        name: Test Changed Files
        entry: npm test -- --changed
        language: system
        pass_filenames: false
        files: \.(js|ts|tsx)$
        stages: [commit]

Notes added by 'git notes add'
  44f917a520cba44db6a9cc67be2708534c48d734
Due: none

chore: update dependencies, fix security vulns, and upgrade deprecated CI actions
  .audit-ci.json
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-modern.yml
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: none

chore: update dependencies, fix security vulns, and upgrade deprecated CI actions (#171)
  .audit-ci.json
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-modern.yml
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: none

fix: resolve multi-site bugs from DXT v3.1.12 functional testing
  src/tools/cache.ts
  src/tools/pages.ts
  src/tools/performance/PerformanceTools.ts
  src/tools/seo/auditors/SiteAuditor.ts
  src/tools/site.ts
  src/tools/users.ts
  tests/tools/cache.test.js
  tests/tools/pages.test.js
  tests/tools/seo/SiteAuditor.test.js
  tests/tools/users.test.js
Due: typecheck, test-changed

chore: remove 22 stale documentation files
  ARCHITECTURAL_IMPROVEMENTS.md
  CI_FIX_REPORT.md
  COMPOSITION_MIGRATION_GUIDE.md
  CORRECTED-FINAL-REPORT.md
  COVERAGE_STRATEGY.md
  DXT-ANALYSIS.md
  DXT-FIX-SUMMARY.md
  EXCLUDED_TESTS.md
  FINAL-FIX-REPORT.md
  FIXES_APPLIED.md
  IMPLEMENTATION_COMPLETE.md
  LOG-ANALYSIS.md
  MEMORY_FIX_REPORT.md
  PRD.md
  SECURITY_AUDIT_REPORT.md
  SEO_TOOL_ROADMAP.md
  SPRINT_SUMMARY.md
  TESTING_GUIDELINES.md
  TEST_FIXES_SUMMARY.md
  TODO.md
  VSCODE-SETUP-REPORT.md
  VSCODE-SETUP-SUMMARY.md
Due: none

fix: address PR review feedback for multi-site bug fixes
  src/tools/pages.ts
  src/tools/seo/auditors/SiteAuditor.ts
  tests/tools/pages.test.js
  tests/tools/seo/SiteAuditor.test.js
Due: typecheck, test-changed

fix: resolve multi-site bugs from DXT v3.1.12 testing (#172)
  src/tools/cache.ts
  src/tools/pages.ts
  src/tools/performance/PerformanceTools.ts
  src/tools/seo/auditors/SiteAuditor.ts
  src/tools/site.ts
  src/tools/users.ts
  tests/tools/cache.test.js
  tests/tools/pages.test.js
  tests/tools/seo/SiteAuditor.test.js
  tests/tools/users.test.js
Due: typecheck, test-changed

chore: remove 22 stale documentation files (#173)
  ARCHITECTURAL_IMPROVEMENTS.md
  CI_FIX_REPORT.md
  COMPOSITION_MIGRATION_GUIDE.md
  CORRECTED-FINAL-REPORT.md
  COVERAGE_STRATEGY.md
  DXT-ANALYSIS.md
  DXT-FIX-SUMMARY.md
  EXCLUDED_TESTS.md
  FINAL-FIX-REPORT.md
  FIXES_APPLIED.md
  IMPLEMENTATION_COMPLETE.md
  LOG-ANALYSIS.md
  MEMORY_FIX_REPORT.md
  PRD.md
  SECURITY_AUDIT_REPORT.md
  SEO_TOOL_ROADMAP.md
  SPRINT_SUMMARY.md
  TESTING_GUIDELINES.md
  TEST_FIXES_SUMMARY.md
  TODO.md
  VSCODE-SETUP-REPORT.md
  VSCODE-SETUP-SUMMARY.md
Due: none

chore(release): 3.1.13 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  f80f8fc2b03c97b1ad5fd548f7eba412a929df72
Due: none

chore: upgrade deprecated CI actions and default Node to 22
  .github/workflows/codeql-analysis.yml
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
  .github/workflows/wordpress-compatibility.yml
Due: none

chore: upgrade deprecated CI actions and default Node to 22 (#174)
  .github/workflows/codeql-analysis.yml
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
  .github/workflows/wordpress-compatibility.yml
Due: none

fix(security): enable SSRF protection by default, add path traversal guard on uploads
  src/client/api.ts
  src/tools/media.ts
Due: typecheck, test-changed

fix(security): enable SSRF protection by default, add path traversal guard on uploads (#177)
  src/client/api.ts
  src/tools/media.ts
Due: typecheck, test-changed

chore(release): 3.1.14 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  a69772590d01483b3f54810ef107f5e5cfa2d813
Due: none

fix(security): harden input validation and fix audit vulnerabilities
  .audit-ci.json
  package-lock.json
  package.json
  src/client/api.ts
  src/client/auth.ts
  src/client/operations/media.ts
  src/tools/comments.ts
  src/tools/media.ts
  src/tools/pages.ts
  src/tools/params.ts
  src/tools/taxonomies.ts
  src/tools/users.ts
  tests/tools/comments.test.js
  tests/tools/comments/CommentTools.test.js
  tests/tools/media.test.js
  tests/tools/media/MediaTools.test.js
  tests/tools/pages.test.js
  tests/tools/pages/PageTools.test.js
  tests/tools/taxonomies.test.js
  tests/tools/taxonomies/TaxonomyTools.test.js
  tests/tools/users.test.js
  tests/tools/users/UserTools.test.js
Due: typecheck, test-changed

fix: security hardening - SSRF bypass, input validation, magic bytes, crypto state
  .audit-ci.json
  package-lock.json
  package.json
  src/client/api.ts
  src/client/auth.ts
  src/client/operations/media.ts
  src/tools/comments.ts
  src/tools/media.ts
  src/tools/pages.ts
  src/tools/params.ts
  src/tools/taxonomies.ts
  src/tools/users.ts
  tests/tools/comments.test.js
  tests/tools/comments/CommentTools.test.js
  tests/tools/media.test.js
  tests/tools/media/MediaTools.test.js
  tests/tools/pages.test.js
  tests/tools/pages/PageTools.test.js
  tests/tools/taxonomies.test.js
  tests/tools/taxonomies/TaxonomyTools.test.js
  tests/tools/users.test.js
  tests/tools/users/UserTools.test.js
Due: typecheck, test-changed

chore(release): 3.1.15 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  951a62d12597cd3aa1af0a8dfa03e545e02c3522
Due: none

fix: security hardening, dependency updates, and flaky test fix
  .audit-ci.json
  Dockerfile
  package-lock.json
  package.json
  tests/cache/cache-performance.test.js
Due: test-changed

fix: detect bin wrapper entry point in isMainModule check
  src/index.ts
Due: typecheck, test-changed

fix(tests): stabilise flaky ETA timing assertion in BulkOperations
  tests/tools/seo/BulkOperations.test.js
Due: test-changed

chore(release): 3.1.16 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  7074e32540045ea0f4803c15a3fb235900f05fc9
Due: none

chore: update CLAUDE.md version reference to v3.1.15
  CLAUDE.md
Due: none

fix(deps): allowlist remaining handlebars dev-dep advisories in audit-ci
  .audit-ci.json
Due: none

chore(release): 3.1.17 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  edd8a6fde6e05bfc3278b13e29f3b3077506a82d
Due: none

fix(ci): skip claude-review for fork PRs (OIDC unavailable on forks)
  .github/workflows/claude-code-review.yml
Due: none

chore(release): 3.1.18 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  725bc45738a82f00b334b80c6ff761a8307ba56e
Due: none

fix: detect bin wrapper entry point in isMainModule check (#179)
  src/index.ts
Due: typecheck, test-changed

chore(release): 3.1.19 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e47be079cbea1a0c56e51d668a7d0c6008d22046
Due: none

fix(ci): add id-token: write to release job for NPM Trusted Publishing
  .github/workflows/release.yml
Due: none

chore(release): 3.1.20 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  5b576baeadd2c22d420e4a5afe26286a3e1d0d9d
Due: none

chore(ci): remove NPM_TOKEN from release workflow
  .github/workflows/release.yml
Due: none

fix(config): update .npmrc.example to reflect OIDC Trusted Publishing
  .npmrc.example
Due: none
