Repository docdyhr/mcp-wordpress: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, test-changed

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-json
      - id: mixed-line-ending
      - id: check-case-conflict

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css]
        files: \.(js|jsx|ts|tsx|json|yaml|yml|md|css)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.16.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@^8.45.0
          - eslint-config-prettier@^9.0.0
          - "@typescript-eslint/eslint-plugin@^6.0.0"
          - "@typescript-eslint/parser@^6.0.0"

  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Typecheck
        entry: npm run typecheck
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

      - id: test-changed
        name: Test Changed Files
        entry: npm test -- --changed
        language: system
        pass_filenames: false
        files: \.(js|ts|tsx)$
        stages: [commit]

chore(release): 3.1.21 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  62e38b03191c89b6057dced30c65f2cf9a84d8b3
Due: none

fix(deps): upgrade hono and MCP SDK to resolve 7 medium CVEs
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 3.1.22 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  cf10b5448295a6b708210c5b021fe6878b34f87e
Due: none

fix: resolve 5 live-test defects (D1/D2/D3/D7/D9)
  src/client/CachedWordPressClient.ts
  src/performance/PerformanceMonitor.ts
  src/tools/auth.ts
  src/tools/cache.ts
  src/tools/seo/generators/MetaGenerator.ts
  src/utils/version.ts
  tests/tools/auth.test.js
Due: typecheck, test-changed

docs(changelog): add Unreleased entries for D1–D9 live-test defect fixes
  CHANGELOG.md
Due: none

chore(release): 3.1.23 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  898575ba84728bb3d97399b1ee73f5e908e2f7ff
Due: none

fix(dx): resolve D5/D8/D10 from live DXT diagnostic report
  CHANGELOG.md
  src/cache/CacheManager.ts
  src/client/api.ts
  src/performance/MetricsCollector.ts
  src/server/ToolRegistry.ts
  src/tools/cache.ts
  tests/client/WordPressClient.test.js
Due: typecheck, test-changed

chore(release): 3.1.24 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  529261fc049beb6e3e31068e69a6bb0277e31309
Due: none

chore: release v3.1.25
  .markdownlintignore
  CHANGELOG.md
  docs/MCP_WORDPRESS_DIAGNOSTIC_REPORT.md
  docs/mcp-wordpress-v3.1.24-debug-report.md
  docs/mcp-wordpress-v3.1.25-test-report.md
  package.json
  scripts/build-dxt-clean.cjs
  src/client/managers/ComposedRequestManager.ts
  src/tools/cache.ts
  src/tools/performance/PerformanceTools.ts
  tests/client/ComposedManagers.test.js
  tests/tools/cache.test.js
  tests/tools/performance.test.js
Due: typecheck, test-changed

fix(deps): resolve transitive audit vulnerabilities via overrides
  .audit-ci.json
  package-lock.json
  package.json
Due: none

chore(release): 3.1.26 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  d1bd66cdb53429226dcf16755d5d13cbc1e41cc6
Due: none

ci(dxt): commit updated mcp-wordpress.dxt to main after each release
  .github/workflows/release.yml
Due: none

docs(dxt): add symlink pro tip for persisting multi-site config across updates
  DXT-MULTISITE-GUIDE.md
Due: none

fix(seo): route wp_seo_* tools to correct site in multi-site configs
  CHANGELOG.md
  src/tools/seo/SEOHandlers.ts
  src/tools/seo/SEOTools.ts
Due: typecheck, test-changed

fix: guard main() against unhandled rejection and surface silent audit errors
  CHANGELOG.md
  src/index.ts
  src/tools/seo/auditors/SiteAuditor.ts
Due: typecheck, test-changed

refactor: address remaining audit suggestions
  CHANGELOG.md
  src/security/AutomatedRemediation.ts
  src/tools/posts/PostHandlers.ts
Due: typecheck, test-changed

chore: restore 3.1.26 CHANGELOG to its semantic-release state
  CHANGELOG.md
Due: none

chore(release): 3.1.27 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  866073e189e0fbeac569d81e6afcfb282f6142a0
Due: none

test: add coverage for params, version, and post handler helpers; fix retry logic
  src/client/api.ts
  src/tools/posts/PostHandlers.ts
  tests/tools/params.test.js
  tests/tools/posts/PostHandlers.test.js
  tests/tools/version.test.js
Due: typecheck, test-changed

test: add auth, SEO handler, and edge-case coverage
  tests/client/auth.test.js
  tests/tools/seo/BulkOperations.test.js
  tests/tools/seo/SEOHandlers.test.js
  tests/tools/seo/SiteAuditor.test.js
Due: test-changed

fix(security): remove duplicate single-quote in regex character class
  src/security/AutomatedRemediation.ts
Due: typecheck, test-changed

chore(release): 3.1.28 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  b5eb7f655fa867aab265b7c16f6a33289157e8ce
Due: none

fix(ci): remove DXT git-commit step that fails on gitignored artifact
  .github/workflows/release.yml
  tests/client/AuthManager.test.js
  tests/security/AISecurityScanner.test.js
  tests/security/InputValidator.test.js
Due: test-changed

feat(seo): implement wp_seo_track_serp_positions and wp_seo_keyword_research tools
  README.md
  src/tools/seo/SEOHandlers.ts
  src/tools/seo/SEOTools.ts
  src/types/seo.ts
  tests/tools/seo/SEOHandlers.test.js
Due: typecheck, test-changed

test: add coverage for mock client, security modules, and rate limiting
  tests/client/MockWordPressClient.test.js
  tests/security/AutomatedRemediation.test.js
  tests/security/SecurityConfigManager.test.js
  tests/security/SecurityMonitoring.test.js
  tests/security/SecurityReviewer.test.js
  tests/utils/debug.test.js
  tests/utils/rateLimit.test.js
Due: test-changed

chore(release): 3.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  93eba5a79ae57d8a820606e2221602d169852661
Due: none

fix(seo): replace inline HTML-strip regex with loop-until-stable helper
  src/tools/seo/SEOTools.ts
Due: typecheck, test-changed

chore(release): 3.2.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  43866ce2890b30cb574139425f16cfde2b34f373
Due: none

fix(security): add write-path mojibake guard and repair tooling
  .gitignore
  scripts/mojibake-restore.py
  scripts/mojibake-targeted-repair.py
  scripts/neigong-mojibake-scan.py
  src/client/managers/ComposedRequestManager.ts
  src/client/managers/RequestManager.ts
  src/utils/index.ts
  src/utils/mojibake.ts
Due: typecheck, test-changed

feat(seo): add Google Search Console OAuth2 provider for real SERP data
  .env.example
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  scripts/google-auth.mjs
  src/config/Config.ts
  src/tools/seo/SEOTools.ts
  src/tools/seo/providers/SearchConsoleProvider.ts
  src/types/seo.ts
  tests/tools/seo/SearchConsoleProvider.test.js
Due: typecheck, test-changed

chore(release): 3.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
