Repository docdyhr/mcp-wordpress: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, test-changed

typecheck:
  name: TypeScript Typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

test-changed:
  name: Test Changed Files
  entry: npm test -- --changed
  language: system
  pass_filenames: false
  stages:
  - commit

chore(cleanup): clean TODO list and remove temporary files
  .github/workflows/ci-legacy.yml.backup
  TODO.md
  ci-health-report.md
  ci-pipeline-health-report.md
  package.json.backup
  update-report-minor.md
  update-report-patch.md
  updates-minor.json
  updates-patch.json
Due: none

fix(security): resolve vite vulnerability and update dependencies
  package-lock.json
Due: none

docs(todo): update TODO list with completed security fixes
  TODO.md
Due: none

chore(release): 2.11.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  341eae01196f58dfc159904292ad6f9b304177dd
Due: none

fix(docker): enable Docker publishing on release events
  .github/workflows/docker-modern.yml
Due: none

chore(release): 2.11.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  b4405cdc102d9c11b769e5a2e92455683493e12b
Due: none

docs: fix duplicate CI/CD pipeline badges in README
  README.md
Due: none

fix: resolve failing CI/CD tests in posts and quality checks
  src/tools/posts/PostHandlers.ts
  src/tools/posts/index.ts
  src/utils/validation/wordpress.ts
  tests/tools/posts.test.js
Due: typecheck, test-changed

chore(release): 2.11.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  c6a7291c7ed361fe6f5e0d7b15c001183562991e
Due: none

chore(deps): upgrade to Vitest v4, Zod v4, and semantic-release v25
  package-lock.json
  package.json
  src/cache/HttpCacheWrapper.ts
  src/client/CachedWordPressClient.ts
  src/client/api.ts
  src/client/managers/AuthenticationManager.ts
  src/utils/version.ts
  tests/client/AuthenticationManager.test.js
  vitest.ci.config.ts
  vitest.config.ts
  vitest.memory-safe.config.ts
Due: typecheck, test-changed

fix(ci): resolve CI/CD and quality assurance pipeline failures
  .audit-ci.json
  .github/workflows/main-ci.yml
  .github/workflows/quality-assurance.yml
Due: none

chore(release): 2.11.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  fb0c4de02f935fbdc5fbdb3edcfe75fc9184466f
Due: none

fix(ci): resolve memory crashes in test runner
  .github/workflows/main-ci.yml
Due: none

chore(release): 2.11.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  1c076c85cf713988a5d2ec8562b9fa18aed75f19
Due: none

fix(ci): disable coverage in CI pipelines to prevent memory crashes
  .github/workflows/main-ci.yml
  .github/workflows/quality-assurance.yml
Due: none

chore(release): 2.11.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e902516d7f57a3a9e706881b6c623b7cc5695ba2
Due: none

fix(ci): resolve memory crashes with vitest pool and concurrency settings
  vitest.config.ts
Due: typecheck, test-changed

chore(release): 2.11.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  393524c9abc73e2b4c02b1d70106d7dbd8d80342
Due: none

fix(tests): resolve mock constructor errors in performance.test.js
  tests/tools/performance.test.js
Due: test-changed

chore(release): 2.11.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  4bacec8ffa2c5ce84a394378e0b76cb55b8f73f2
Due: none

fix(tests): resolve all mock constructor errors in test suite
  tests/docs/DocumentationGenerator.test.js
Due: test-changed

chore(release): 2.11.10 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  abcccedc880be2007304e4e45acd315701da7424
Due: none

fix(tests): skip DocumentationGenerator tests - API mismatch
  tests/docs/DocumentationGenerator.test.js
Due: test-changed

chore(release): 2.11.11 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  cc4c44125682f22474b0c6135aa132bc1c851833
Due: none

fix(ci): add missing rollback-deployment.sh script for Performance Gates
  scripts/rollback-deployment.sh
Due: none

chore(release): 2.11.12 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  5f0f77a8ec88af2d8bda9d32702f6feaf9e1eeee
Due: none

fix(tests): resolve test failures for 100% pass rate
  tests/client/RequestManager.test.js
  tests/client/api-upload-timeout.test.js
  tests/utils/debug.test.js
Due: test-changed

fix(tests): complete debug.test.js fixes for 100% pass rate
  tests/utils/debug.test.js
Due: test-changed

refactor(tests): remove DocumentationGenerator test file with API mismatch
  tests/docs/DocumentationGenerator.test.js
Due: test-changed

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  test-changed: any of: \.(js|ts|tsx)$
