Repository docdyhr/mcp-wordpress: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, test-changed

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-json
      - id: mixed-line-ending
      - id: check-case-conflict

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css]
        files: \.(js|jsx|ts|tsx|json|yaml|yml|md|css)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.16.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@^8.45.0
          - eslint-config-prettier@^9.0.0
          - "@typescript-eslint/eslint-plugin@^6.0.0"
          - "@typescript-eslint/parser@^6.0.0"

  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Typecheck
        entry: npm run typecheck
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

      - id: test-changed
        name: Test Changed Files
        entry: npm test -- --changed
        language: system
        pass_filenames: false
        files: \.(js|ts|tsx)$
        stages: [commit]

fix: audit follow-ups (deps override, README badge, changelog cleanup, dynamic import)
  CHANGELOG.md
  README.md
  bin/status.js
  package.json
Due: test-changed

fix: audit follow-ups (deps override, README badge, changelog cleanup, dynamic import) (#228)
  CHANGELOG.md
  README.md
  bin/status.js
  package.json
Due: test-changed

fix(release): reformat CHANGELOG.md to match prettier config
  CHANGELOG.md
Due: none

fix(release): reformat CHANGELOG.md to match prettier config (#229)
  CHANGELOG.md
Due: none

chore(release): 3.3.29 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e296db8d951011f702f523edbfa03718ab101f17
Due: none

fix(release): stop semantic-release from duplicating the changelog header
  .releaserc.json
  CHANGELOG.md
  package.json
Due: none

docs(agents): record changelogTitle/Prettier coupling as a DOX invariant
  AGENTS.md
Due: none

fix(release): stop semantic-release from duplicating the changelog header (#230)
  .releaserc.json
  AGENTS.md
  CHANGELOG.md
  package.json
Due: none

chore(release): 3.3.30 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  6a5302a745c374df6e2b27ab23ee589f3668c32b
Due: none

fix: javascript.lang.security.detect-child-process.detect-child-process security vulnerability
  scripts/check-publish-status.js
Due: test-changed

fix: javascript.lang.security.detect-child-process.detect-child-process security vulnerability (#231)
  scripts/check-publish-status.js
Due: test-changed

fix(release): reformat CHANGELOG.md's 3.3.30 entry to match prettier config
  CHANGELOG.md
Due: none

fix(release): auto-format CHANGELOG.md with Prettier before every release commit
  .releaserc.json
  AGENTS.md
  docs/developer/RELEASE_PROCESS.md
  release.config.js
Due: test-changed

fix(release): reformat CHANGELOG.md's 3.3.30 entry to match prettier config (#232)
  CHANGELOG.md
Due: none

chore(release): 3.3.31 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  4f765ed06182ae6a138a56d7c7b9b8f2f128ccc8
Due: none

fix(release): reformat CHANGELOG.md's 3.3.31 entry to match prettier config
  CHANGELOG.md
Due: none

fix(release): address review feedback on release.config.js
  release.config.js
  scripts/test-release.sh
Due: test-changed

fix(release): remove TOCTOU race in formatChangelog's missing-file guard
  release.config.js
Due: test-changed

fix(release): auto-format CHANGELOG.md with Prettier before every release commit (#233)
  .releaserc.json
  AGENTS.md
  CHANGELOG.md
  docs/developer/RELEASE_PROCESS.md
  release.config.js
  scripts/test-release.sh
Due: test-changed

chore(release): 3.3.32 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  5c2bf1d3d0e86b50113b956a5e7d2c8945bda0fd
Due: none

fix: don't classify local upload/validation 403s as auth errors
  src/server/ToolRegistry.ts
  tests/server/ToolRegistry.test.js
Due: typecheck, test-changed

fix(auth): verify alternate credentials without mutating the shared client
  src/tools/AGENTS.md
  src/tools/auth.ts
  tests/tools/auth.test.js
Due: typecheck, test-changed

build(docs): format generated API docs as part of docs:generate
  package.json
Due: none

build(lint): make format and markdownlint globs actually recursive
  docs/CACHING.md
  docs/CI_CD_IMPROVEMENTS.md
  docs/CONFIGURATION.md
  docs/DEPRECATIONS.md
  docs/DOCKER_PUBLISHING_TROUBLESHOOTING.md
  docs/DXT_UPDATE_GUIDE.md
  docs/INSTALLATION.md
  docs/MCP_WORDPRESS_DIAGNOSTIC_REPORT.md
  docs/PUBLISHING-TROUBLESHOOTING.md
  docs/SECURITY.md
  docs/SECURITY_TESTING.md
  docs/TROUBLESHOOTING.md
  docs/code-improvements.md
  docs/mcp-wordpress-v3.1.24-debug-report.md
  docs/mcp-wordpress-v3.1.25-test-report.md
  package.json
Due: none

fix(seo): detect SEO plugins from the REST plugin path, not a missing slug
  src/client/SEOWordPressClient.ts
  tests/client/SEOWordPressClient.test.js
Due: typecheck, test-changed

fix(seo): address review — restore JSDoc and make both identifiers optional
  src/client/SEOWordPressClient.ts
Due: typecheck, test-changed

fix(auth): align tool wording with validate-only semantics
  src/tools/auth.ts
  tests/tools/auth.test.js
Due: typecheck, test-changed

fix(docs): escape backslashes before pipes in table cells
  docs/api/summary.json
  src/docs/MarkdownFormatter.ts
Due: typecheck, test-changed

docs(api): regenerate reference for validate-only wp_switch_auth_method
  docs/api/README.md
  docs/api/openapi.json
  docs/api/summary.json
  docs/api/tools/wp_switch_auth_method.md
Due: none

fix(ci): skip claude-review for bot-triggered PR pushes
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): skip claude-review for bot-triggered PR pushes (#239)
  .github/workflows/claude-code-review.yml
Due: none

chore(release): 3.3.33 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  0c7e0eca9ce92fb4d8ccd08204400c772e5c6f70
Due: none

fix: don't classify local upload/validation 403s as auth errors (#234)
  src/server/ToolRegistry.ts
  tests/server/ToolRegistry.test.js
Due: typecheck, test-changed
