Repository docdyhr/mcp-wordpress: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, test-changed

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-json
      - id: mixed-line-ending
      - id: check-case-conflict

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css]
        files: \.(js|jsx|ts|tsx|json|yaml|yml|md|css)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.16.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@^8.45.0
          - eslint-config-prettier@^9.0.0
          - "@typescript-eslint/eslint-plugin@^6.0.0"
          - "@typescript-eslint/parser@^6.0.0"

  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Typecheck
        entry: npm run typecheck
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

      - id: test-changed
        name: Test Changed Files
        entry: npm test -- --changed
        language: system
        pass_filenames: false
        files: \.(js|ts|tsx)$
        stages: [commit]

chore(release): 2.9.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  f8aacd3be50551c9cbb8de9893f7404c2b0f89a7
Due: none

feat(ci): Add comprehensive Docker publishing fix and verification workflows
  .github/workflows/docker-publish-fix.yml
  .github/workflows/verify-and-fix-publishing.yml
Due: none

chore(release): 2.10.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  3787f378f8e7c3388404298eb67c48408d6041a1
Due: none

fix(ci): Resolve CI/CD pipeline failures
  .github/workflows/ci.yml
  .github/workflows/docker-publish-fix.yml
Due: none

chore(release): 2.10.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  6893911285543498f535044f99257adaae7c79b4
Due: none

chore(release): 2.10.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  c9ce1503963d238cc8cfde9f6c93c23ec50cfaf1
Due: none

fix(ci): Fix CI pipeline failures and optimize test execution
  .github/workflows/ci.yml
  .github/workflows/docker-modern.yml
  .github/workflows/docker-publish-fix.yml
  .github/workflows/docker-publish.yml
  SECURITY.md
  package.json
Due: none

docs: Add comprehensive fixes documentation
  FIXES_APPLIED.md
Due: none

chore(release): 2.10.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  a57b1f133134875f66f12b11893de947a3b9bcf0
Due: none

fix(critical): Fix Zod version mismatch and restore multi-site functionality
  .vscode/settings.json
  CORRECTED-FINAL-REPORT.md
  DXT-ANALYSIS.md
  DXT-FIX-SUMMARY.md
  DXT-MULTISITE-GUIDE.md
  FINAL-FIX-REPORT.md
  LOG-ANALYSIS.md
  VSCODE-SETUP-REPORT.md
  VSCODE-SETUP-SUMMARY.md
  ci-pipeline-health-report.md
  dxt/manifest.json
  package-lock.json
  package.json
  scripts/test-vscode-setup.sh
  scripts/test-vscode-setup.ts
  src/dxt-entry.ts
Due: typecheck, test-changed

chore(release): 2.10.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  8b7737371a36f1f89c935ebb70aff8f11c98c7f5
Due: none

fix(critical): Fix user role and capabilities retrieval by using context=edit
  src/client/CachedWordPressClient.ts
  src/client/api.ts
Due: typecheck, test-changed

fix(tools): Add inputSchema support to ToolRegistry for wp_create_post
  src/server/ToolRegistry.ts
Due: typecheck, test-changed

chore(release): 2.10.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  0ed70846a84797feebc9b58515c26f6b03f84522
Due: none

fix(ci): Replace batch test execution with proper vitest sharding to prevent V8 memory crashes
  .github/workflows/ci-optimized.yml
Due: none

chore(release): 2.10.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  482d43317855839b666e6ed1cf82afbd0afbb697
Due: none

fix(ci): Resolve remaining 8 CI/CD pipeline failures
  .github/workflows/quality-assurance.yml
  package.json
  tests/tools/posts/PostTools.test.js
Due: test-changed

chore(release): 2.10.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  873c7da3ab3375a4eeb690c184d5a7c7ac912a26
Due: none

fix(ci): Add missing security:review and security:monitor scripts
  package.json
Due: none

feat(tools): Add include_content parameter to wp_get_page and wp_get_post
  src/tools/pages.ts
  src/tools/posts/PostHandlers.ts
  src/tools/posts/PostToolDefinitions.ts
Due: typecheck, test-changed

fix(ci): Resolve CI/CD pipeline failures in all workflows
  .github/workflows/ci.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/security-badges.yml
  package.json
Due: none

refactor(tests): Remove all skipped tests and update documentation
  CLAUDE.md
  tests/cache/cache-stress.test.js
  tests/client/RequestManager.test.js
  tests/tools/media.test.js
  tests/tools/users/UserTools.test.js
Due: test-changed

fix(ci): resolve pre-push memory crashes with memory-safe test runner
  .husky/pre-push
  CORRECTED-FINAL-REPORT.md
  DXT-ANALYSIS.md
  DXT-FIX-SUMMARY.md
  DXT-MULTISITE-GUIDE.md
  FINAL-FIX-REPORT.md
  LOG-ANALYSIS.md
  MEMORY_FIX_REPORT.md
  PRODUCTION.md
  VSCODE-SETUP-REPORT.md
  VSCODE-SETUP-SUMMARY.md
  ci-pipeline-health-report.md
  package.json
  scripts/run-tests-safe.cjs
  scripts/test-pre-push.sh
  vitest.memory-safe.config.ts
Due: typecheck, test-changed

chore(release): 2.11.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  8011e8ca99cee835a73bc113771e793a7728caf9
Due: none

🔒 Update security badges - 0/0 tests passing, 8 vulnerabilities
  README.md
Due: none

docs(security): comprehensive security audit and risk assessment
  .auditignore
  SECURITY_AUDIT_REPORT.md
  package-lock.json
  package.json
Due: none

fix(ci): modernize CI/CD pipeline and resolve GitHub badges
  .github/workflows/ci-legacy.yml.backup
  .github/workflows/ci-optimized.yml
  .github/workflows/docker-publish-fix.yml
  .github/workflows/docker-publish.yml
  .github/workflows/main-ci.yml
  .github/workflows/test-coverage-badges-v2.yml
  .github/workflows/test-coverage-badges.yml
  .github/workflows/vitest-ci.yml
  CI_FIX_REPORT.md
  README.md
  package.json
  scripts/update-badges.js
  vitest.config.ts
Due: typecheck, test-changed

chore(release): 2.11.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  d967f84c0231dbc5164116fde855eaa8da93e891
Due: none
